/**
* Table of Contents:
*
* 1.0 - Main structure
  2.0 - Header
     2.1 - Logo
	 2.2 - Header Button
  3.0 - Footer  
  4.0 - Sidebar
  5.0 - Preview Cart
  6.0 - Grid
  7.0 - Product Detail
  8.0 - Card View
  9.0 - Testimonial
  10.0 - Login Form
  11.0 - Page Form
* -----------------------------------------------------------------------------
*/
 
 
/**
* 1.0 - Main structure
* -----------------------------------------------------------------------------
*/

html{

}
 
body{
    font-family: 'Roboto Condensed', 'roboto_condensedregular', sans-serif;
	font-size:14px;
	color:#232323;
	letter-spacing: 0.25px;
	font-weight: 300;
	background-color: #f5f5f5;
	position: relative;
	overflow-x: hidden;
}

body:before, body:after{
	content:"";
	position: fixed;
	top:0;
	left:0;
	width: 40px;
	height:100%;
	background-color:#fff;
	z-index: 98;
}

body:after{
	left:auto;
	right:0;
}

input[type="text"],textarea,input[type="password"]{
    font-family: 'Roboto Condensed', 'roboto_condensedregular', sans-serif;
	border-color:#ddd;
	color:#999;
	font-size: 100%;
}

input[type="submit"]{
	border-color:#ddd;
	background-color:#f8f8f8;
	color:#232323;
	padding:10px;
	letter-spacing:0.25px;
	font-family: 'Roboto Condensed', 'roboto_condensedregular', sans-serif;
	text-transform: capitalize;
	font-size:100%;
}

input[type="submit"]:hover{
	color:#232323;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.wrap{
	margin-left:40px;
	margin-right:40px;
}

.main > .wrap{
	margin:0 55px;
}

a{
	color:#232323;
}

a:hover{
	color:#5add7f;
}

.link{
	color:#5add7f;	
}

.text-danger{
    color:#5add7f;
    margin-top:4px;
    display:block;
}

.require:after{
    content:"*";
    color:#5add7f;
    font-size:14px;
    margin-left:2px;
}

::selection {
	text-shadow: none;
	color:#fff;
	background-color: #5add7f;
}

::-moz-selection {
	text-shadow: none;
	color:#fff;
	background-color: #5add7f;	
}

p{
	line-height:1.4em;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.overlay,.overlay2,.overlay3{
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 50;
	background-color:rgba(0,0,0,0.2);
	transition:all 0.4s ease;
	opacity: 0;
	visibility: hidden;	
}

.overlay2{
	z-index: 100;
}

.overlay3{
	z-index: 101;
}

.loading-icon{
	background-image:url(../img/loading.gif);
	width: 40px;
	height:40px;
	background-size:30px 30px;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-20px;
	margin-right:-20px;
	background-color: #000;
}

.main{
	padding-top:60px;
	padding-bottom:60px;
}

.notify-fix{
    position:fixed;
    width:100%;
    height:100px;
    line-height:100px;
    text-transform: uppercase;
    text-align:center;
    top:50%;
    margin-top:-90px;
    left:0;
    font-weight:700;
    letter-spacing:1px;
}

/**
* 2.0 - Header
* -----------------------------------------------------------------------------
*/
.header{
	position: fixed;
	z-index: 98;
	left:0;
	top:0;
	background-color:#fff;	
	height: 40px;
	width:100%;
}


/**
* 2.1 - Logo
*/
.logo{
	display: block;
	font-weight: 700;
	font-size:22px;
	text-transform: uppercase;
	line-height: 100%;
	margin-top:9px;
	letter-spacing: 4px;
	float:left;
}

.nav-control{
	float:right;
}

.nav-control li{
	display: inline-block;
	float: left;
	margin-left:26px;
}

/**
* 2.1 - Header Button
*/

.sidebar-button{
	display: block;
	width: 22px;
	height:40px;
	position: relative;
}

.sidebar-button:after{
	content:"";
	position: absolute;
	left:-12px;
	top:9px;
	width:1px;
	height: 24px;
	background: #000;
	opacity: 0.1;
}


.sidebar-button span{
	display: block;
	width: 100%;
	height:2px;
	background-color:#000;
	left:0;
	position: absolute;
	transition: all 0.4s ease;
}

.sidebar-button.shown span:nth-child(1){
	transform: rotate(45deg);
	top:20px;
}

.sidebar-button.shown span:nth-child(2){
	opacity: 0;
}

.sidebar-button.shown span:nth-child(3){
	transform: rotate(-45deg);
	top:20px
}

.sidebar-button span:nth-child(1){
	top:14px;
}

.sidebar-button span:nth-child(2){
	top:20px;
}

.sidebar-button span:nth-child(3){
	top:26px;
}


/**
* 3.0 - Footer
* -----------------------------------------------------------------------------
*/
.footer{
	position: fixed;
	left:0;
	bottom:0;
	height:40px;
	z-index: 98;	
	width: 100%;
	background-color:#fff;
}

.site-desc{
	float:left;
	height:40px;
	line-height: 40px;
	margin:0;	
}

.site-desc i{
	color:#5add7f;
}

.social-icons{
	float:right;
}

.social-icons li{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left:5px;
}

/**
* 4.0 - Sidebar
* -----------------------------------------------------------------------------
*/

.sidebar-container{
	position: fixed;
	right:-370px;
	top:0;
	width: 370px;
	height:100%;
	background-color:#fff;
	z-index: 51;
	transition:all 0.4s ease;
    overflow:hidden;
}

.sidebar-container.shown{
	right:0;
}

.sidebar-container.shown ~ .overlay{
	opacity: 1;
	visibility: visible;
}

.sidebar-container .wrap{
	margin:40px;
	padding:20px 0;
}

.navigation{
	font-size:24px;
	margin-top:20px;
}

.navigation a,.category-list a{
	display: block;
	padding: 10px 0;
	border-bottom:1px solid #ddd;
}

.navigation li:last-child a,.category-list li:last-child a{
	border-bottom:none;
}

.search{
	background-color:#efefef;
	border:none;
	border-radius: 40px;
	font-size:18px;
	padding:10px 15px;
	width: 100%;
	margin:0;	
	font-family: 'Roboto Condensed', 'roboto_condensedregular', sans-serif;
	z-index: 999;
}

.category-list-wrap{
    position:absolute;
    right:-100%;
    top:0;
    background-color:#fff;
    width:100%;
    height:100%;
    transition: all 0.4s ease;
}

.category-list-wrap.shown{
    right:0;
}

.category-list{
    font-size:24px;
    margin:50px 40px 0px 40px;
    box-sizing:border-box;
}

.back-to-menu{
    display:block;
    margin:0 40px;
    padding-top:20px;
    font-size:18px;
    text-align:right;
}


/**
* 5.0 - Preview Cart
* -----------------------------------------------------------------------------
*/

.num-of-item{
	position: absolute;
	left:-18px;
	top:12px;
	font-weight: bold;
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 40px;
	color:#fff;
	text-align: center;
	line-height: 19px;
	background-color:#5add7f;
	font-size:12px;
}

.view-cart-button{
	font-size:20px;
	display: block;
	height:40px;
	width:30px;
	line-height: 40px;
	margin:0;
	display: block;
	position: fixed;
	z-index: 101;
	top:0;
	right:80px;	
	background-repeat: no-repeat;
	background-image:url(../img/shopping.png);
	background-size: 20px 20px;
	background-position: center center;
}

.view-cart-button i{
	display: none;
}

.preview-cart{
	position:fixed;
	right:40px;
	top:40px;
	width:220px;
	background-color:#fff;	
	transition:all 0.4s ease;
	opacity: 0;
	visibility: hidden;
	z-index: 101;
}

.view-cart-button:hover ~ .preview-cart,.preview-cart:hover{
	opacity: 1;
	visibility: visible;
}

.view-cart-button:hover ~ .overlay2,.preview-cart:hover ~ .overlay2{
	opacity: 1;
	visibility: visible;
}

.preview-cart:before{
	content:"";
	position: absolute;
	width: 0;
	height: 0;
	top:-16px;
	right:48px;
	border:10px solid transparent;
	border-bottom-color:#5add7f;
}

.preview-cart:after{
	content:"";
	position: absolute;
	top:-20px;
	width: 100%;
	height:20px;
	background-color:transparent!important;
}

.preview-last-items{
	background-color:#5add7f;
	font-size:100%;
	color:#fff;
	height:50px;
	line-height:50px;
	text-align:center;
	margin-top:0;
	font-size:12px;
	margin-bottom:0px!important;	
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.preview-items li{
	display:block;
	position:relative;
	padding-left:77px;
	margin:15px 15px 0 15px;
	min-height: 62px;
}

.preview-image{
	display:block;
	width:62px;
	height:62px;
	background-color:#fff;
	left:0;
	top:0;
	position:absolute;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 62px;
}

.preview-cart h5{
	margin:20px 0;
}

.preview-cart h5 span{
	margin:0 15px 0 15px;
	width: 62px;
	font-size:14px;
	text-transform: uppercase;
}

.preview-items h6{
	margin:0 0 2px 0;
	transition:all 0.4s ease;
}

.preview-items p{
	margin:0;
	text-transform:uppercase;
	font-size:11px;
	line-height:16px;
	color:#999;
	transition:all 0.4s ease;	
}

.preview-button li{
	display:block;
	width:50%;
	float:left;
	margin-left:0;
}

.preview-button a{
	display:block;
	width:100%;
	height:50px;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	background-color:#f5f5f5;
	font-weight: 700;
	letter-spacing: 1px;
	font-size:12px;
	color:#000;
}

.preview-button li:nth-child(1) a{
	color:#fff;
	background-color:#5add7f;
}


/**
* 6.0 - Grid
* -----------------------------------------------------------------------------
*/

.grid{
	margin:0 10px;
}

.grid li{
	float:left;
	width:25%;
	border:10px solid #f5f5f5;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	background-color:#fff;
	overflow: hidden;
}

.grid a{
	display: block;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 95%;
	background-position: center center;
	background-size:60%;
	background-repeat: no-repeat;
}

.price-label{
	position: absolute;
	right:0;
	top:0;
	padding:8px 15px;
	background-color:#5add7f;
	display: block;
	color:#fff;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	z-index: 2;
}

.grid a div{
	position: absolute;
	left:0px;
	top:50%;
	margin-top:-25px;
	width: 100%;
	height: 60px;
	background-color:transparent;
	opacity: 0;
	z-index: 2;
	transition:all 0.4s ease;
	text-align: center;
}

.grid a:hover div{
	opacity: 1;
}

.grid a:after{
	content: "";
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 200%;
	background-color:#fff;
	opacity: 0;
	transition:all 0.4s ease;		
}

.grid a:hover:after{
	opacity: 1;
}

.grid a div h6{
	font-size:24px;
	font-weight: 700;
	margin: 15px 0 0 0;
	line-height: 1.2em;
	color:#232323;
	transition:all 0.8s ease;
}

.grid a div p{
	margin:15px 0 0 0;
	line-height: 1em;
	color:#777;
	transition:all 0.8s ease;	
}

.grid a:hover h6{
	margin-top:0px;
}

.grid a:hover p{
	margin-top:5px;
}

.ajax-items-container{
    display:none!important;
}

.preload{
    width:40px;
    height:40px;
    background-image:url(../img/preload.GIF);
    position:fixed;
    z-index:99;
    left:50%;
    bottom:20px;
    background-size:36px 36px;
    background-position: center center;
    background-repeat:no-repeat;
    background-color:#fff;
    margin-left:-20px;
    transition: all 0.4s ease;
    opacity:0;
    visibility:hidden;
}

.preload.shown{
    opacity:1;
    visibility:visible;
}


/**
* 7.0 - Product Detail
* -----------------------------------------------------------------------------
*/

.ajax-container{
    display:none!important;
}

.product-detail{
	position: fixed;
	z-index: 1000;
	left:40px;
	top:40px;
	background-color:#fff;
	opacity: 0;
	visibility: hidden;
	transition:all 0.4s ease;
}

.product-page{
    position:relative;
    background-color:#fff;
    min-height:100%;
    margin:10px 15px;
    padding:80px 0 40px 0;
}

.product-detail.shown{
	opacity: 1;
	visibility: visible;
}

.product-detail.shown ~ .overlay3,.product-detail.loading ~ .overlay3{
	opacity: 1;
	visibility: visible;
}

.detail-left{
	float:left;
	width: 50%;
	position: relative;
    height:100%;
}

.detail-left:after{
	content:".";
	visibility: hidden;
}

.detail-left-wrap{
	width:60%;
	margin:auto;
}

.detail-left-wrap img{
    margin-top:30px;
}

.product-detail .detail-left-wrap img{
    display:none;
}

.product-page .product-image-preview{
    display:none;
}

.product-image-preview{
	position: absolute;
	left:0;
	top:0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:60%;
	width: 100%;
	height: 95%;
}

.detail-right{
	float:left;
	width: 50%;
}

.detail-right-wrap{
	margin-right:100px;
}

.product-page .detail-right-wrap{
    margin-top:20px;
}

.page-list{
	margin-bottom:0;
	line-height: 1;
}

.page-list a{
	margin:0 3px;
}

.page-list a:first-child{
	margin-left:0;
}

.page-list a:last-child{
	color:#999;
}

.product-title{
	font-size:30px;
	font-weight: bold;
	margin:0;
}

.product-info{
	position: relative;
	margin-top:10px;
	margin-bottom:18px;
	height:70px;
}

.product-price{
	font-size:48px;
	color:#5add7f;
	font-weight: 700;
	display: block;
    position:absolute;
    left:0;
    height:70px;
    line-height:70px;
}

.product-quantity{
	position: absolute;
	right:0;
	top:0;
}

.product-quantity button{
	background-color:#eeeeee;
	color:#000;
	width:30px;
	height: 30px;
	border-radius: 0;
	border:none;
	font-size: 20px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	float:left;
	font-weight: 700;
	color:#999;
	cursor: pointer;
	padding:0;
	outline: none;
}

.product-quantity button:hover{
	color:#000;
}

.product-quantity p{
    margin-bottom:0;
}
.product-quantity input{
	float:left;
	border:none;
	background-color:#eee;
	width:60px;
	height: 30px;
	margin:0 2px;
	padding:0;
	font-weight: 700;
	font-size:18px;
	border-radius: 0;
	text-align: center;
}

.add-to-cart{
	display: block;
	width:124px;
	height: 36px;
	background-color:#5add7f;
	text-align: center;
	text-transform: uppercase;
	line-height: 36px;
	font-weight: 700;
	color:#fff;
	margin-top:2px;
	font-size:12px;
	letter-spacing: 0.5px;
}

.add-to-cart:hover{
	color:#fff;
	opacity: 0.9;
}

.product-page .add-to-cart{
    display:none!important;
}

.product-detail input[type="submit"]{
    display:none;
}

.product-page input[type="submit"]{
	display: block;
	width:124px;
	height: 36px;
	background-color:#5add7f;
	text-align: center;
	text-transform: uppercase;
	line-height: 36px;
	font-weight: 700;
	color:#fff;
	margin-top:2px;
	font-size:12px;
	letter-spacing: 0.5px;
    padding:0;
    margin-left:0;
}

.accordion li{
	border-bottom:1px solid #ddd;
	padding:5px 0;
}

.accordion > li > label{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	display: block;
	padding:8px 0;
	cursor: pointer;
	position: relative;
}

.accordion > li > label:before{
	content:"";
	position: absolute;
	background-color:#000;
	width:10px;
	height:2px;
	right:0;
	top:14px;
}

.accordion > li > label:after{
	content:"";
	position: absolute;
	background-color:#000;
	width:2px;
	height:10px;
	right:4px;
	top:10px;
}

.accordion{
	border-top:1px solid #ddd;
}

.accordion input[type="radio"]{
	display: none;
}

.accordion > li > label ~ div{
	display: none;
}

.accordion > li > label:after{
	display: none;
}

.accordion > li > input:checked ~ div{
	display: block;
	margin-top:5px;
}

.accordion > li > input:checked ~ label:after{
	display: block;
}

.product-category{
	margin-top:15px;
}

.product-category strong{
	text-transform: uppercase;
}

.product-category span{
	margin-left:5px;
}

.product-close{
	display: block;
	width: 20px;
	height: 20px;
	background-color:transparent;
	opacity: 0.4;
	right:20px;
	top:20px;
	position: absolute;
	transition:all 0.4s ease;
}

.product-close:hover{
	opacity: 0.8;
}

.product-page .product-close{
    display:none;
}

.product-close:before,.product-close:after{
	position: absolute;
	left:0;
	top:9px;
	width: 18px;
	height: 3px;
	background-color:#000;
	content: "";
	transform: rotate(45deg);
}

.product-close:before{
	transform: rotate(-45deg);
}

.same-category-product{
    margin:30px 100px;
}

.same-category-product h1{
    margin-bottom:0;
    margin-top:100px;
    font-size:36px;
}

.same-category-product img{
    display:block!important;
    width:auto;
    height:auto;
}

.same-category-product ul li{
    width:33.33%;
    float:left;
    position:relative;
}

.same-category-product a{
    background-position:center;
    background-repeat: no-repeat;
    background-size:60%;
    display:block;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

/**
* 8.0 - Cart View
* -----------------------------------------------------------------------------
*/

.cart-view{
	border-collapse:separate;
    border-spacing:0 10px;
}

.cart-view td{
	vertical-align: middle;	
}

.cart-view th{
	text-transform: uppercase;
	font-weight: 700;
	font-size:12px;
	padding-bottom:5px;
    margin-top:0;
    line-height:1em;
}

.cart-view tr{
	font-size:24px;	
}

.p-thumbnail{
	width:10%;	
}

.p-name{
	width:30%;
}

.p-price{
	width:15%;
}

.p-quantity{
	width:25%;
}

.p-subtotal{
	width:15%;
}

.p-remove{
	width:5%;
}

.cart-item{
	background-color:#fff;
}

.p-thumbnail a {
	display: block;
	width:60px;
	height:60px;
	background-repeat: no-repeat;
	background-size:cover;
	background-color:#ddd;
	background-position: center center;
	margin:10px 10px 4px 10px;
}

.p-quantity .quantity input[type="button"]{
	background-color: #eeeeee;
	border:none;
	width:30px;
	height:30px;
	line-height: 0px;
	text-align: center;
	border-radius: 0;
	float:left;
	font-weight: 700;
	font-size:16px;
}

.p-quantity input[type="number"]{
	margin:0 2px;
	float:left;
	background-color:#eee;
	border:none;
	width:60px;
	height:30px;
	font-weight: bold;
	line-height: 0;
	text-align: center;
	border-radius: 0;
	font-size:16px;
}

.p-quantity .update-quantity{
	background-color: #5add7f;
	border:none;
	height:30px;
	line-height: 0px;
	text-align: center;
	border-radius: 0;
	float:left;
	font-weight: 700;
	font-size:12px;	
	margin-left:10px;
	color:#fff;
	letter-spacing: 0.5px;
	transition:all 0.4s ease;
    opacity:1;
}

.p-quantity .update-quantity.blur{
    opacity: 0.5;
}

.cart-total{
	float:left;
}

.cart-total p{
	text-transform: uppercase;
	font-size:24px;
	font-weight: bold;
	margin-bottom:0;	
}

.go-checkout{
	position: fixed;
	width: 100%;
	left:0;
	bottom:40px;
	background-color:#f5f5f5;
	padding:25px 0;
}

.go-checkout .wrap{
	margin:0 60px;
}

.checkout-button{
	background-color:#5add7f;
	display: block;
	text-align: center;
	color:#fff!important;
	font-size:16px;
	padding:10px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top:5px;
	float:right;
}

.no-item-to-checkout .checkout-button{
    opacity: 0.5;
}

.continue-shopping{
	float:right;
	padding:8px 18px;
	border:3px solid #999;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin-right:10px;
	color:#999;
	margin-top:5px;
}

.continue-shopping:hover,.no-item-to-checkout .continue-shopping{
	color:#232323;
	border-color:#232323;
}

.sidebar-container.shown ~ .cart-next, .sidebar-container.shown ~ .cart-previous{
    opacity:0;
    visibility:hidden;
    transition:none;
}

.cart-next,.cart-previous{
    position:fixed;
    z-index:99;
    top:50%;
    margin-top:-50px;
    font-size:40px;
    display:block;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
}

.cart-next{
    right:0;
}

.cart-previous{
    left:0;
}

/**
* 8.0 - Checkout page
* -----------------------------------------------------------------------------
*/

.page{
	width:40%;
	background: #fff;
	padding:50px;
	margin:20px auto;
}

.page input[type="text"],.page input[type="password"]{
	border-radius: 0;
	border:1px solid #ddd;
	padding:10px;
}

.page label{
	display: block;
	text-transform: uppercase;
	font-size:14px;
	margin-bottom:3px;
}

.page h1{
	font-weight: bold;
	margin-top:0;
	font-size:24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.page h6{
	font-size:24px;
	margin-bottom:30px;	
}

.address-info input{
	width: 100%;
}

.address-info > div{
	margin-bottom:20px;
}

/**
* 9.0 - Login form
* -----------------------------------------------------------------------------
*/

.login-form{
	position: fixed;
	left:50%;
	top:50%;
	padding:30px;
	background-color:#fff;
	width:400px;
    margin-top:-200px;
	margin-left:-215px;
	z-index: 2;
}

.login-overlay{
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height: 100%;
    transition:all 0.4s ease;
	background-color:rgba(0,0,0,0.2);
}

.login-form > h1{
	font-size: 30px;
	margin-top:0;
    margin-bottom:20px;
	line-height: 1em;
}

.login-form form > div{
	margin-bottom:10px;	
}

.login-form label{
	display: block;
	text-transform: uppercase;
	margin-bottom:3px;
}

.login-form .remember-me label{
    display: inline-block;
    text-transform: lowercase;
    margin:0;
    line-height:1em;
}

.remember-me input[type="checkbox"]{
    margin-top:0px;
    position:relative;
    top:2px;
    display:inline-block;
}

.login-form input[type="text"],.login-form input[type="password"]{
	border:3px solid #ddd;
	width: 100%;
	border-radius: 0;
	padding: 10px;	
}

.login-form input[type="text"]:focus,.login-form input[type="password"]:focus{
	border-color:#5add7f;
}

.login-submit{
	margin-top:20px;	
	position: relative;
	top:10px;
}

.login-submit p{
	float:left;
	margin-top:10px;
	margin-bottom:0;
}

.login-submit input{
	float:right;
	background-color:#5add7f;
	display: block;
	text-align: center;
	color:#fff!important;
	font-size:16px;
	padding:10px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	border:none;
	border-radius: 0;	
}

.login-popup{
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
    transition:all 0.4s ease;
    transform:scale(0.5);
}

.login-popup.shown{
	opacity: 1;
	visibility: visible;
    transition-delay:0.2s;
    transform:scale(1);
}

.login-popup ~ .login-overlay{
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
}

.login-popup.shown ~.login-overlay{
	opacity: 1;
	visibility: visible;
}

.login-close{
	display: block;
	width: 16px;
	height: 16px;
	background-color:transparent;
	opacity: 0.4;
	right:15px;
	top:15px;
	position: absolute;
	transition:all 0.4s ease;
}

.login-close:hover{
	opacity: 0.8;
}

.login-close:before,.login-close:after{
	position: absolute;
	left:0;
	top:9px;
	width: 16px;
	height: 2px;
	background-color:#000;
	content: "";
	transform: rotate(45deg);
}

.login-close:before{
	transform: rotate(-45deg);
}

/**
* 10.0 - Page Form
* -----------------------------------------------------------------------------
*/

.page-form{
    background-color:#fff;
    width: 36%;
    padding:40px 100px 110px 100px;
    margin:20px auto 50px auto;
    position:relative;
}

.page-form-title{
    text-align:center;
    font-size:40px;
    margin-top:10px;
    margin-bottom:40px;
}

.page-form-heading{
    margin-top:30px;
    margin-bottom:20px;
    text-indent:0;
}

.page-form label{
    display:block;
    margin-bottom:5px;
    text-indent:0;
    text-transform:uppercase;
    font-size:12px;
}

.page-form input[type="text"],.page-form input[type="password"],.page-form textarea{
	border:3px solid #ddd;
	width: 100%;
	border-radius: 0;
	padding: 10px;	
    min-height:45px;
}

.page-form textarea {
    min-height:100px;
}

.page-form input[type="text"]:focus,.page-form input[type="password"]:focus,.page-form textarea:focus{
	border-color:#5add7f;
}

.page-form form > div{
    margin-bottom:20px;
}

.page-form-submit input[type="submit"], .return-shop{
	background-color:#5add7f;
	display: block;
	text-align: center;
	color:#fff!important;
	font-size:16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	border:none;
	border-radius: 0;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:80px;
}

.card-sum > div {
    float:left;
}

.card-sum > div:nth-child(1){
    width:25%;
    margin-right:5%;
}

.card-sum > div:nth-child(2){
    width:40%;
}

.card-sum > div:nth-child(3){
    width:25%;
    margin-left:5%;
}
.receiption{
    border-collapse: separate;
}

.receiption td:first-child{ 
	width:65%;
}

.receiption td:last-child{
	width: 35%;
}

.receiption td:first-child{
	font-size:18px;
	font-weight: 700;
}

.receiption td:first-child span{
	font-weight: 400;
	font-size:14px;
}

.receiption td{
	border-bottom:1px solid #ddd;
	padding:10px 0;
}

.receiption tr:last-child td{
	border:none;
    padding-top:20px;
}

.receiption tr:last-child td:first-child{
	font-weight: 400;
}

.receiption tr:last-child td:last-child{
	font-weight: 700;
	font-size:24px;
}

.return-shop{
    line-height:80px;
}