﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADIVE - Online Shop</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,900' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Css/site")
    @Scripts.Render("~/bundles/modernizr")

</head>

<header class="header">
    <div class="wrap">
        <a href="@Url.Action("Index", "Home")" class="logo">
            MADIVE
        </a><!-- end logo -->

        <ul class="nav-control">
            <li>
                <a href="#" class="sidebar-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li><!-- end show menu button-->

        </ul><!-- end site control -->
    </div>
</header><!-- end header section -->

<div class="sidebar-container">
    <div class="wrap">
        <input class="search" placeholder="Search for products..." value="" />
        <nav>
            <ul class="navigation">
                <li><a href="@Url.Action("index", "home")">Shop</a></li>
                <li><a href="#" class="show-category">Category</a></li>
                <li><a href="@Url.Action("index", "cart")">View Cart</a></li>
                <li><a href="@Url.Action("index", "checkout")">Checkout</a></li>
                <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                <li>
                @if (!Request.IsAuthenticated)
                {
                    <a href="@Url.Action("Login", "Account")" class="@(ViewContext.RouteData.GetRequiredString("action") != "Login" ? "show-login-box" : "hide-menu")">Login</a>
                }
                else
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                     <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                    }
                }
                </li>
            </ul>
        </nav>
        @Html.Action("GetCategoryList", "Category");
    </div>
</div><!-- end sidebar -->

<div class="overlay"></div>

@Html.Action("GetPreviewItemsInCart", "Cart")
@if (!Request.IsAuthenticated && ViewContext.RouteData.GetRequiredString("action") != "Login")
{
    @Html.Action("LoginPopup", "Account", new { returnUrl = Url.Content("~/")})
}
@RenderBody()

<footer class="footer">
    <div class="wrap">
        <p class="site-desc">Copyright &copy; <strong>Madive</strong> @DateTime.Now.Year. Made with <i class="fa fa-heart"></i></p>
        <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
    </div>
</footer><!-- end footer section -->

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/main")
@RenderSection("scripts", required: false)

</html>
