﻿@model LoginViewModel

<div class="login-form login-popup">
    <a href="#" class="login-close"></a>
    <h1>Login</h1>
    <p>Welcome customer!</p>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })          
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>       
        <div class="remember-me">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>

        <div class="login-submit">
            <p>New customer? @Html.ActionLink("Register", "Register",null, new { @class = "link"})</p>
            <input type="submit" value="Login" />
            <div class="clear"></div>
        </div>
    }
</div><!-- end login form -->
<div class="login-overlay"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
