﻿@model MADIVE.Models.RegisterViewModel

<body>
    <div class="main">
        <div class="wrap">
            <div class="page-form">
                <h2 class="page-form-title">Welcome new!</h2>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <h3 class="page-form-heading">Account information</h3>
                    <div>
                        @Html.LabelFor(m => m.Email, new { @class = "require" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.LabelFor(m => m.Password, new { @class = "require" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "require" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>

                    <h3 class="page-form-heading">User information</h3>

                    <div>
                        @Html.LabelFor(m => m.UserName, new { @class = "require" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    
                    <div>
                        @Html.LabelFor(m => m.FirstName, new { @class = "" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>

                    <div>
                        @Html.LabelFor(m => m.LastName, new { @class = "" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>

                    <h3 class="page-form-heading">Contact information</h3>

                    <div>
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "require control-label" })
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                    </div>

                    <div class="page-form-submit">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
