﻿@model IEnumerable<Category>

<div class="category-list-wrap">
    <ul class="category-list">
        @foreach (var category in Model)
        {
            <li><a href="@Url.Action("Index", "Category", new { name = category.Name, page = 1})">@category.Name</a></li>
        }
    </ul>
    <a href="#" class="back-to-menu">Back <i class="fa fa-angle-right"></i></a>
</div>