﻿@model MADIVE.Models.ProductWithCategory

<div class="product-detail">
    <a href="#" class="product-close"></a>
    <div class="detail-left">
        <div class="detail-left-wrap">
            <div class="product-image-preview" style="background-image:url(@Model.Image)"></div>
        </div>
    </div>
    <div class="detail-right">
        <div class="detail-right-wrap">
            <p class="page-list"><a href="@Url.Action("Index", "Home")">Shop</a>/<a href="@Url.Action("Index", "Category", new { id = Model.CategoryName })">@Model.CategoryName</a>/<a>@Model.Name</a></p>
            <h1 class="product-title"></h1><!-- product title -->
            <div class="product-info">
                <span class="product-price">$<span>@Model.Price</span></span><!-- product price -->
                <div class="product-quantity">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <p><button class="minus-quantity">-</button><input name="quantity" type="number" min="0" max="1000" readonly="readonly" value="@Model.Quantity" data-exist-value="@Model.Quantity" /><button class="plus-quantity">+</button></p>
                        <input type="hidden" name="id" value="@Model.Id" />
                        <div class="clear"></div>
                        <a href="@Url.Action("AddToCart", "Cart")" class="add-to-cart"
                           data-product-id="" data-product-add="Add to Cart" data-product-wait="Processing..." data-product-update="Update">Add to Cart</a>
                    }
                </div>
            </div>
            <ul class="accordion">
                <li>
                    <input type="radio" name="info" id="desc" checked="checked" />
                    <label for="desc">Description</label>
                    <div class="product-desc">@Model.Description</div><!-- product description -->
                </li>
                <li>
                    <input type="radio" name="info" id="detail" />
                    <label for="detail">Detail</label>
                    <div class="product-details">@Model.Detail</div><!-- product detail -->
                </li>
            </ul>
            <p class="product-category"><strong>Category</strong> <span><a href="@Url.Action("Index", "Category", new { id = Model.CategoryName})">@Model.CategoryName</a></span></p>
        </div>
    </div>
    <div class="clearfix"></div>
</div><!-- end product detail -->
