﻿@model MADIVE.Models.ProductWithCategory

@{
    ViewBag.Title = Model.Name;
}

<div class="main">
    <div class="wrap">
        <div class="product-page">
            <div class="product-container">
                <a href="#" class="product-close"></a>
                <div class="detail-left">
                    <div class="detail-left-wrap">
                        <div class="product-image-preview" style="background-image:url(@Model.Image)"></div>
                        <img src="@Model.Image">
                    </div>
                </div><!-- end product feature image -->
                <div class="detail-right">
                    <div class="detail-right-wrap">
                        <p class="page-list"><a href="@Url.Action("Index", "Home")">Shop</a>/<a href="@Url.Action("Index", "Category", new { name = Model.CategoryName})">@Model.CategoryName</a>/<a>@Model.Name</a></p>
                        <h1 class="product-title">@Model.Name</h1><!-- product title -->
                        <div class="product-info">
                            <span class="product-price">$<span>@Model.Price</span></span><!-- product price -->
                            <div class="product-quantity">
                                @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@Model.Id" />
                                    <p><button class="minus-quantity">-</button><input name="quantity" type="number" min="0" max="1000" readonly="readonly" value="@Model.Quantity" data-exist-value="@Model.Quantity" /><button class="plus-quantity">+</button></p>
                                    <div class="clear"></div>
                                    <a href="@Url.Action("AddToCart", "Cart")" class="add-to-cart"
                                       data-product-id="@Model.Id" data-product-add="Add to Cart" data-product-wait="Processing..." data-product-update="Update">@(Model.Quantity == 0 ? "Add to Cart" : "Update")</a>
                                    <input type="submit" value="@(Model.Quantity == 0 ? "Add to Cart" : "Update")" />
                                }
                            </div>
                        </div>
                        <ul class="accordion">
                            <li>
                                <input type="radio" name="info" id="desc" checked="checked" />
                                <label for="desc">Description</label>
                                <div class="product-desc"><p>@Model.Description</p></div><!-- product description -->
                            </li>
                            <li>
                                <input type="radio" name="info" id="detail" />
                                <label for="detail">Detail</label>
                                <div class="product-details"><p>@Model.Detail</p></div><!-- product detail -->
                            </li>
                        </ul>
                        <p class="product-category"><strong>Category</strong> <span><a href="@Url.Action("Index", "Category", new { name = Model.CategoryName })">@Model.CategoryName</a></span></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="same-category-product">
                <h1>You might also like</h1>
                <ul>
                @foreach (var product in @Model.Products)
                {
                    <li>
                        <a href="@Url.Action("Index", "Product", new { Id = product.Id })" style="background-image:url(@product.Image)">
                            <img src="@Url.Content("~/img/")pretend.png" alt="pretend"/>
                        </a>
                    </li>
                }
                </ul>
                <div class="clear"></div>
            </div>

        </div><!-- end product detail -->
        
    </div>
</div>


