﻿@model IPagedList<ProductListViewModels> 

<body>
    <div class="main">
        <div class="wrap">
            <ul class="grid clearfix" data-page="@ViewBag.page" data-max="@ViewBag.max" data-next-link="@Url.Action("Index", "Home", new { page = ViewBag.page + 1})">
            @foreach (var product in Model)
            {
                <li class="item-box">
                    <img src="@Url.Content("~/img/")pretend.png" />
                    <span class="price-label">$@product.Price</span>
                    <a href="@Url.Action("Index", "Product", new { id = @product.Id })" style="background-image:url(@product.Image)">
                        <div>
                            <h6>@product.Name</h6>
                            <p>@product.CategoryName</p>
                        </div>
                    </a>
                </li>
            }
            </ul><!-- end grid -->
        </div>
    </div>
</body>

<div class="product-detail"></div>
<div class="overlay3"><span class="loading-icon"></span></div>
<div class="ajax-container"></div>
<div class="ajax-items-container"></div>
<span class="preload"></span>