﻿@model IEnumerable<MADIVE.Models.Product>

<a href="@Url.Action("Index", "Cart")" class="view-cart-button">
    <i class="fa fa-shopping-cart"></i> 
    <span class="num-of-item @(ViewBag.numOfItem > 0 ? "shown" : "")">@ViewBag.numOfItem</span>
</a>

<div class="preview-cart">
    <h4 class="preview-last-items">@(ViewBag.numOfItem <= 4 ? ViewBag.numOfItem + " items in Cart" : "Last 4 of " + ViewBag.numOfItem + " items")</h4>
    <ul class="preview-items clearfix" data-refer-link="@Url.Action("Index", "Product")">
    @foreach (var product in Model)
    {
        <li>
            <a href="@Url.Action("Index", "Product", new { id = product.Id })">
                <span class="preview-image" style="background-image:url(@product.Image)"></span>
                <h6>@product.Name</h6>
                <p>Price: $@product.Price</p>
                <p>Quantity: @product.Quantity</p>
            </a>
        </li>
    }
    </ul>

    <h5><span>Subtotal</span> <strong class="preview-total-price">$@ViewBag.totalPrice</strong></h5>

    <ul class="preview-button clearfix">
        <li><a href="@Url.Action("Index", "Cart")">View Cart</a></li>
        <li><a href="@Url.Action("Index", "Checkout")">Checkout</a></li>
    </ul>
</div>

<div class="overlay2"></div>