﻿@model IPagedList<MADIVE.Models.Product>

<body>
    @using (Html.BeginForm("Index", "Cart", FormMethod.Post, new { Id = "updatecart" }))
    { 
        <input type="hidden" name="quantity"/>
        <input type="hidden" name="id"/>
        @Html.AntiForgeryToken()
    }
    
    @if(ViewBag.max > ViewBag.page)
    {
        <a href="@Url.Action("Index", "Cart", new { page = ViewBag.page + 1 })" class="cart-next"><i class="fa fa-angle-right"></i></a>    
    }
    
    @if (ViewBag.page > 1)
    {
        <a href="@Url.Action("Index", "Cart", new { page = ViewBag.page - 1 })" class="cart-previous"><i class="fa fa-angle-left"></i></a>
    }
    
    <div class="main">
        <div class="wrap">
            @if(@ViewBag.numOfItem > 0)
            { 
            <table class="cart-view">
                <thead>
                    <tr>
                        <th class="p-thumbnail"></th>
                        <th class="p-name">Product</th>
                        <th class="p-price">Price</th>
                        <th class="p-quantity">QTY</th>
                        <th class="p-subtotal">Total</th>
                        <th class="p-remove">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var product in Model)
                {
                    <tr class="cart-item">
                        <!-- The thumbnail -->
                        <td class="p-thumbnail">
                            <a href="@Url.Action("index", "product", new { id = product.Id })" style="background-image:url(@product.Image)"></a>
                        </td>

                        <!-- Product Name -->
                        <td class="p-name">
                            <a href="@Url.Action("index", "product", new { id = product.Id })">@product.Name</a>
                        </td>
                        <!-- Quantity inputs -->
                        <td class="p-price">
                            <span class="amount">$&nbsp;@product.Price</span>
                        </td>
                        <!-- Quantity inputs -->
                        <td class="p-quantity">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus">
                                <input type="number" name="quantity" value="@product.Quantity" data-existing-value="@product.Quantity" readonly="readonly">
                                <input type="button" value="+" class="plus">
                            </div>
                            <input type="button" value="Update" class="update-quantity blur" data-product-id="@product.Id"/>
                        </td>

                        <!-- Product subtotal -->
                        <td class="p-subtotal">
                            <span class="amount">$&nbsp;@(product.Quantity * product.Price)</span>
                        </td>
                        <!-- Remove from cart link -->
                        <td class="p-remove">
                            <a href="@Url.Action("Index", "Cart")" data-product-id="@product.Id" class="remove-item" title="Remove this item">×</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table><! -- end cart table -->
            }
            else
            {
                <h1 class="notify-fix">There is no item in cart</h1>
            }
            <div class="go-checkout @(ViewBag.numOfItem == 0 ? "no-item-to-checkout" : "")">
                <div class="wrap">
                    <div class="cart-total"><p>Subtotal <span>$@ViewBag.totalPrice</span></p>/ @ViewBag.numOfItem items</div>
                    <a href="@Url.Action("Index", "Checkout")" class="checkout-button">Checkout</a>
                    <a href="@Url.Action("index", "home")" class="continue-shopping">Continue shopping</a>@ViewBag.path
                </div>
            </div>
        </div>
    </div>
</body><!-- end main body section -->
