﻿@model MADIVE.Models.CheckoutInfoModels

<body>
    <div class="main">
        <div class="wrap">
            <div class="page-form">
                <h2 class="page-form-title">Checkout</h2>

                @using (Html.BeginForm("Receipt", "Checkout", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <h3 class="page-form-heading">Shipping information</h3>
                    
                    <div>
                        @Html.LabelFor(m => m.FullName, new { @class = "require" })
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                    </div>
                    
                    <div>
                        @Html.LabelFor(m => m.ShippingAddress, new { @class = "require" })
                        @Html.TextAreaFor(m => m.ShippingAddress, new { @class = "form-control" })
                    </div>
                    
                    <div>
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "require" })
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>

                    <h3 class="page-form-heading">Reception will be sent to</h3>
                    
                    <div>
                        @Html.LabelFor(m => m.Email, new { @class = "require" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger"})
                    </div>

                    <h3 class="page-form-heading">Payment information</h3>

                    <div>
                        @Html.LabelFor(m => m.CardName, new { @class = "require" })
                        @Html.TextBoxFor(m => m.CardName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CardName, "", new { @class = "text-danger" })
                    </div>
                    
                    <div>
                        @Html.LabelFor(m => m.CardNumber, new { @class = "require" })
                        @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "text-danger" })
                    </div>
                    
                    <div class="card-sum clearfix">
                        <div>
                            @Html.LabelFor(m => m.ExpirationMonth, new { @class = "require" })
                            @Html.TextBoxFor(m => m.ExpirationMonth, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ExpirationMonth, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(m => m.ExpirationYear, new { @class = "require" })
                            @Html.TextBoxFor(m => m.ExpirationYear, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ExpirationYear, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(m => m.CCV, new { @class = "require" })
                            @Html.TextBoxFor(m => m.CCV, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CCV, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="page-form-submit">
                        <input type="submit" class="btn btn-default" value="Place Order" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
