﻿@model  IEnumerable<Product>

<body>
    <div class="main">
        <div class="wrap">
            <div class="page-form">
                <h2 class="page-form-title">Thank You!</h2>
                <h3 class="page-form-heading">Your order</h3>
                <table class="receiption">
                    <tbody>
                    @foreach(var product in Model)
                    {
                        <tr>
                            <td>@product.Name <span>x@(product.Quantity)</span></td>
                            <td>$@(product.Price * product.Quantity)</td>
                        </tr>    
                    }
                        <tr>
                            <td>Total</td>
                            <td>$@ViewBag.totalPrice</td>
                        </tr>
                    </tbody>
                </table>
                <a href="@Url.Action("Index", "Home")" class="return-shop">Continue Shopping</a>
            </div>
        </div>
    </div>
</body>

